<!DOCTYPE html>
<html lang="en">
<head>
    <title>TDS</title>
    <script src="https://kit.fontawesome.com/e3b231881d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="" class="logoLink"><img class="logo" src="img/logo.png" alt="logo"></a>
        <h2 class="title">Tʜᴇ Dᴀɪʟʏ Sᴄʜᴇᴅᴜʟᴇ</h2>
        <section class="header-right clearFix">
            <a class="active" href="">Home</a>
            <!-- <a href="">Contact</a>
            <a href="">About</a> -->
            <a href="">Sign Out</a>
        </section>
    </header>

    <section class="container">

        <section class="jumbotron">
            <section class="intro">
                <p>The Daily Schedule is an app designed to assist healthcare administration in scheduling their available staff and in keeping track of their paid time off. </p>

                <img class="calendarGif" src="img/calendar.gif" alt="calendar gif">
            </section>

            <a href="/login" class="btn btn-default"><button class="signIn"><span class="fa fa-user"></span> Sign In</button></a>
            <a href="/signup" class="btn btn-default"><button class="newUser"><span class="fa fa-user"></span> New User</button></a>

        </section>

    </section>
</body>
</html>
